@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "ComingSoon", "Home", routeValues: null, htmlAttributes: new { title = "Manage", @style="font-size:15px" })
    </li>
        <li><a rel="nofollow" href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
    }
}
else
{

        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
